<div class=" flex  flex-row   text-center items-center  font-normal	font-Roboto leading-6 mb-0">

<div class="flex flex-col basis-1/3 text-center justify-center   flex-wrap	font-Roboto  ">
  <hr class=" block  self-center text-footericon w-20 leading-9 border-t-[5px] border-solid  my-6 decoration-8 h-[5px]		"/>
  <h5 class="block text-footerhr  font-medium  text-[28px] mb-6" > Shipping Worldwide</h5>
  <p class="text-footerhr self-center  font-normal text-base w-3/6	">Affordable delivery service to more than 210 countries and territories worldwide.</p>
</div>

<div class="flex flex-col basis-1/3 text-center justify-center font-normal  flex-wrap	font-Roboto leading-6">
  <hr class=" block self-center text-footericon w-20 leading-9 border-t-[5px] border-solid my-6 decoration-8		"/>
  <h5 class="block text-footerhr  font-medium text-[28px]  mb-6" > Shipping Worldwide</h5>
  <p class="text-footerhr self-center  font-normal text-base w-3/6 	">100% original & guaranteed products and high quality product</p>
</div>

<div class="flex flex-col basis-1/3 text-center justify-center font-normal  flex-wrap	font-Roboto leading-6">
  <hr class=" block self-center text-footericon w-20 leading-9 border-t-[5px] border-solid my-6 decoration-8		"/>
  <h5 class="block text-footerhr self-center  font-medium text-[28px]  mb-6" > Shipping Worldwide</h5>
  <p class="text-footerhr self-center font-normal text-base w-3/6	">Whatever your reason, enjoy free 30-day return services</p>
</div>


</div>


<!-- #Subscribe -->

<div class="flex justify-center text-center  flex-col mt-[100px]">

<img src="../../assets/download.svg" class="w-[70px] self-center mb-[24px]">

<h5 class="text-[28px] font-bold mb-[24px] ">Subscribe Newsletter</h5>

<div class="flex justify-center items-center ">
  <div class=" xl:w-1/3">
    <div class=" relative flex flex-wrap items-center justify-center w-full  border-b-[.5px] border-black hover:border-b-2 hover:border-gray-500">
      <input type="search" class="  absolute min-w-0 block w-full text-base font-normal text-gray-400 bg-white  transition ease-in-out m-0 focus:text-gray-400 focus:bg-white  focus:outline-none" placeholder="Enter your email here" aria-label="Search" aria-describedby="button-addon3">
      <button class="btn relative ml-[450px] text-black font-medium text-xs leading-tight uppercase  hover:bg-black hover:bg-opacity-5 focus:outline-none focus:ring-0 transition duration-150 ease-in-out" type="button" id="button-addon3">Subscribe</button>
    </div>
  </div>
</div>

<nav class="  text-footericon self-center text-lg	font-normal w-1/3 my-[24px]">
  <ul class=" flex justify-between items-center w-auto">
  <li>
  <a class="hover:text-footericon	" href="#all-new">All New</a>
  </li>
  <li>
  <a class="hover:text-footericon" href="#all-new">Trending</a>
  </li>
  <li>
  <a class="hover:text-footericon" href="#all-new">Categories</a>
  </li>
  <li>
  <a class="hover:text-footericon" href="#all-new">Featured</a>
  </li>
  <li>
  <a class="hover:text-footericon" href="#all-new">Testimonials</a>
  </li>
  <li>
  <a class="hover:text-footericon" href="#all-new">Blog</a>
  </li>
  </ul>
</nav>

<div class="text-footericon self-center  items-center justify-center text-lg	font-normal w-1/3 my-[24px] ">
  <div class=" flex justify-center gap-x-12	  items-center ">
  <button class=" flex justify-center items-center bg-iconbg hover:bg-buttonbg w-[40px] h-[40px]"><i class="bi bi-twitter w-[25px] h-[25px] text-buttonbg hover:text-iconbg"></i></button>
  <button class=" flex justify-center items-center bg-iconbg hover:bg-buttonbg w-[40px] h-[40px]"><i class="bi bi-facebook w-[25px] h-[25px] text-buttonbg hover:text-iconbg"></i></button>
  <button class=" flex justify-center items-center bg-iconbg hover:bg-buttonbg w-[40px] h-[40px]"><i class="bi bi-instagram w-[25px] h-[25px] text-buttonbg hover:text-iconbg"></i></button>
</div>
</div>


<div class=" flex  items-center justify-center w-full h-[50px] bg-iconbg mb-none ">
  <div class=" flex items-center w-auto ">
  <p class="text-footerend  font-Roboto font-normal text-sm	 leading-snug">©Luxiren Theme 2021</p>
</div>
</div>

</div>


<!-- #6F858F  #CFD8DC  #CFD8DC-->


