

<!-- main -->

<div class="flex flex-row gap-[2rem] justify-center mt-[8rem] mb-[6rem]" id="categories">

<!-- left section >> men section -->

<div class="flex flex-col gap-y-[10rem]">

  <!-- Top Categories -->

  <div class=" text-left">
    <span class="flex items-center  text-black font-bold text-[2.125rem]  w-[13rem] h-[4rem] ml-[1rem]">
      <h4>Top</h4>
    </span>

    <span  class="flex items-center  text-white bg-[#6D4C41] font-bold text-[2.125rem]  w-[13rem] h-[4rem]  ">
      <h4 class="ml-[1rem]"> Categories</h4>
    </span>
  </div>



<!-- Men  Section -->



<div class="flex flex-col gap-[2rem]  ">


  <div class="relative  ">


    <img src="../../assets/cat3_gso57r.png" class="absolute z-10   left-[1.3rem] bottom-[1%]" >



  <div class="relative flex overflow-hidden justify-end items-center c bg-[#D9D8C9] bg-cover h-[14.375rem] w-[38rem]  "
   data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class="flex flex-col  absolute mr-[2rem] ">
    <div class="  text-left  ">
    <span class="font-bold text-[2rem] leading-3 "> Men Casual <br> <span class="font-normal text-[1rem]  "> 24 items <br></span> </span>
    <button class="border-2 border-solid border-black mt-[1rem] w-[14rem] font-bold p-[.3rem]">SEE DETAILS</button>
    </div>
    </div>
    <a href="#!" >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden opacity-[.9] bg-fixed transition-all ease-in-out transition-delay:1000ms;  duration-1000 hover:translate-x-full hover:bg-[#4646462b] ">
      </div>
      </a>


  </div>

  </div>




  <!-- cards -->


  <div class="flex flex-row gap-[1.5rem] ">



  <div class="relative flex overflow-hidden justify-center  items-center bg-[#E7DDD9] bg-cover  h-[10.625rem] w-[18.125rem]"
   data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class="flex flex-row gap-x-[36px] absolute  ">

    <img src="../../assets/cat4_jxu7jq0.png" class="h-[5rem] basis-1/2 " >

    <div class=" blocktext-left basis-1/2  ">
    <span class="font-bold text-[2rem] leading-8 "> Men <br> Watch <br> <span class="font-normal text-[1rem] "> 24 items</span> </span>
    </div>

    </div>

    <a href="#!" >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden opacity-[.9] bg-fixed transition-all ease-out  duration-1000 hover:translate-x-full hover:bg-[#4646462b] ">
      </div>
      </a>

  </div>


  <!-- second item -->
  <div class="relative flex overflow-hidden justify-center items-center bg-[#E7DDD9] bg-cover h-[10.625rem] w-[18.125rem]"
   data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class="flex flex-row gap-x-[36px] absolute  ">

    <img src="../../assets/cat5_fhd4op0.png"class="h-[5rem] basis-1/2  self-center" >

    <div class=" blocktext-left basis-1/2  ">
    <span class="font-bold text-[2rem] leading-8 "> Men <br> Shoes <br> <span class="font-normal text-[1rem] "> 24 items</span> </span>
    </div>

    </div>
    <a href="#!" >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden opacity-[.9] bg-fixed transition-all ease-out  duration-1000 hover:translate-x-full hover:bg-[#4646462b] ">
      </div>
      </a>
  </div>
  </div>


  </div>

</div>


<!-- women right section -->

<div class="flex flex-col gap-[1.5rem]  ">

<div class="flex flex-row gap-[1.5rem] ">


<div class="relative flex overflow-hidden justify-center  items-center bg-[#EDDACF] bg-cover  h-[10.625rem] w-[18.125rem]"
 data-mdb-ripple="true" data-mdb-ripple-color="light">


  <div class="flex flex-row gap-x-[36px] absolute  ">

  <img src="../../assets/cat1_sy84p60.png" class="h-[5rem] basis-1/2 " >

  <div class=" blocktext-left basis-1/2  ">
  <span class="font-bold text-[2rem] leading-8 "> Women <br> Shoes <br> <span class="font-normal text-[1rem] "> 24 items</span> </span>
  </div>

  </div>

  <a href="#!" >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden opacity-[.9] bg-fixed transition-all ease-out  duration-1000 hover:translate-x-full hover:bg-[#4646462b] ">
    </div>
    </a>

</div>


<!-- second item -->
<div class="relative flex overflow-hidden justify-center items-center bg-[#EDDACF] bg-cover h-[10.625rem] w-[18.125rem]"
 data-mdb-ripple="true" data-mdb-ripple-color="light">


  <div class="flex flex-row gap-x-[36px] absolute  ">

  <img src="../../assets/cat2_jrksqc.png"class="h-[5rem] basis-1/2  self-center" >

  <div class=" blocktext-left basis-1/2  ">
  <span class="font-bold text-[2rem] leading-8 "> Women <br> Bag <br> <span class="font-normal text-[1rem] "> 24 items</span> </span>
  </div>

  </div>
  <a href="#!" >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden opacity-[.9] bg-fixed transition-all ease-out  duration-1000 hover:translate-x-full hover:bg-[#4646462b] ">
    </div>
    </a>
</div>
</div>
<!-- image item -->


<div class="relative  ">


  <img src="../../assets/cat6_ylmvql.png" class="absolute z-10   left-[1.3rem] top-[.5%]" >



<div class="relative flex overflow-hidden justify-end items-center c bg-[#F3F7BC] bg-cover h-[14.375rem] w-[38rem]  "
 data-mdb-ripple="true" data-mdb-ripple-color="light">


  <div class="flex flex-col  absolute mr-[2rem] ">
  <div class="  text-left  ">
  <span class="font-bold text-[2rem] leading-3 "> Women Sport <br> <span class="font-normal text-[1rem]  "> 24 items <br></span> </span>
  <button class="border-2 border-solid border-black mt-[1rem] w-[14rem] font-bold p-[.3rem]">SEE DETAILS</button>
  </div>
  </div>
  <a href="#!" >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-full h-full overflow-hidden opacity-[.9] bg-fixed transition-all ease-out  duration-1000 hover:translate-x-full hover:bg-[#4646462b] ">
    </div>
    </a>


</div>

</div>
</div>


</div>
