<section class=" relative block text-[1.5rem] font-medium leading-[1.334] font-Roboto" id="trending">
<div class="  flex flex-row w-full items-end gap-x-0">
<div class=" basis-1/4  flex items-end justify-center h-[21.875rem]  overflow-hidden">
  <img src="../../assets/trending1_g7xtwq.jpg" class="w-[100%]   h-[100%] hover:scale-110 transition duration-300 ease-in-out">
  <button class="absolute z-10 text-white bottom-16">AUTUMN SHOW</button>

</div>


<div class=" basis-2/4 flex items-center justify-end  h-[21.875rem] overflow-hidden"  >
  <img src="../../assets/trending2_flpa4k.jpg" class=" w-[100%]  h-[100%] hover:scale-110 transition duration-300 ease-in-out ">
  <button class="absolute z-10 text-white text-right pr-[1rem] :2022:underline">
    NEW  TRENDING<br>
    <span class="underline font-bold text-[3.4rem]">2022</span>
  </button>
</div>


<div class="  basis-1/4  flex items-end justify-center h-[21.875rem] overflow-hidden ">
  <img src="../../assets/trending3_ji8hwb.jpg" class=" bg-cover w-[100%] h-[100%] hover:scale-110 transition duration-300 ease-in-out ">
  <button class=" absolute z-10 bottom-16 text-white">MAN COLLECTION</button>
</div>


</div>
</section>

