<div
  id="carouselDarkVariant"
  class="carousel slide carousel-fade carousel-dark relative"
  data-bs-ride="carousel"
>


  <!-- Inner -->
  <div class="carousel-inner relative w-full overflow-hidden ">
    <!-- Single item -->
    <div class="carousel-item active relative float-left w-full ">

      <div class="flex w-full h-full overflow-hidden  ">

      <img src='../../assets/blog1_idzvpr.jpg' class="inline-block w-1/2 ">

      <div class="animated  flex flex-col items-center justify-center content-center text-center w-1/2 h-[3/4] gap-y-[2rem] font-Roboto bg-[#263238] z-10 text-white ">
        <p class="text-[1rem] font-[400] leading-[1.5]">Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
        <hr class=" border-2 border-solid border-carouseldiv w-[9rem] ">
        <h6 class="text-[1.3rem] font-Roboto font-bold leading-[2rem]">Gena Doe</h6>
        <span class="text-[1.3rem] font-Roboto font-[400] leading-[2rem] mt-[-2rem]">Senior Graphic Designe</span>
      </div>

      </div>



    </div>

    <!-- Single item -->
    <div class="carousel-item relative float-left w-full">


      <div class="flex w-full h-full overflow-hidden  ">

        <img src='../../assets/blog2_fmm4m40.jpg' class="inline-block w-1/2 	">

        <div class="animated  flex flex-col items-center justify-center content-center text-center w-1/2 h-[3/4] gap-y-[2rem] font-Roboto bg-[#263238] z-10 text-white ">
          <p class="text-[1rem] font-[400] leading-[1.5]">Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
          <hr class=" border-2 border-solid border-carouseldiv w-[9rem] ">
          <h6 class="text-[1.3rem] font-Roboto font-bold leading-[2rem]">Gena Doe</h6>
          <span class="text-[1.3rem] font-Roboto font-[400] leading-[2rem] mt-[-2rem]">Senior Graphic Designe</span>
        </div>


        </div>
    </div>

    <!-- Single item -->
    <div class="carousel-item relative float-left w-full">

        <div class="flex w-full h-full overflow-hidden  ">
        <img src='../../assets/blog3_y4cdjy0.jpg' class="inline-block w-1/2">


        <div class="animated  flex flex-col items-center justify-center content-center text-center w-1/2 h-[3/4] gap-y-[2rem] font-Roboto bg-[#263238] z-10 text-white ">
          <p class="text-[1rem] font-[400] leading-[1.5]">Cras convallis lacus orci, tristique tincidunt magna consequat in. In vel pulvinar est, at euismod libero.</p>
          <hr class=" border-2 border-solid border-carouseldiv w-[9rem] ">
          <h6 class="text-[1.3rem] font-Roboto font-bold leading-[2rem]">Gena Doe</h6>
          <span class="text-[1.3rem] font-Roboto font-[400] leading-[2rem] mt-[-2rem]">Senior Graphic Designe</span>
        </div>


        </div>
    </div>
  </div>
  <!-- Inner -->
  <h3 class="  absolute inline mt-[5rem] right-[17.2%] top-0  font-Roboto z-20 text-white  font-bold text-[3rem] leading-9">Testimonials</h3>
    <!-- <div class="mb-20 font-Roboto  w-auto  ">
      <h3 class="font-bold text-[3rem] leading-9">Testimonials</h3>
    </div> -->


  <!-- Controls -->
  <button
  class="carousel-control-prev absolute top-0 bottom-0 flex items-end justify-center content-center  p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-[51.5%] m-0"
  type="button"
  data-bs-target="#carouselDarkVariant"
  data-bs-slide="prev"
>
<span class="  text-[#000000] flex items-center justify-center  drop-shadow-lg   bg-indicatorprev  " aria-hidden="true">
  <i class="bi bi-arrow-left-short text-5xl	 "></i>
</span>  <span class="visually-hidden">Previous</span>
</button>
<button
  class="carousel-control-next absolute top-0 bottom-0  flex items-end justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline  right-[45%] m-0 "
  type="button"
  data-bs-target="#carouselDarkVariant"
  data-bs-slide="next"
>
<span class="  text-[#000000] flex items-center justify-center drop-shadow-lg bg-indicatorprev    " aria-hidden="true">
  <i class="bi bi-arrow-right-short text-5xl	 "></i>
</span>
<span class="visually-hidden">Next</span>
</button>

</div>




