
<div class="flex flex-col" id="featured">
  <div class=" self-center">
    <span class="flex items-center text-center justify-center text-black font-bold text-[2.125rem]  w-[13rem] h-[4rem] ">
      <h4>Top</h4>
    </span>

    <span  class="flex items-center  text-white bg-[#6D4C41] font-bold text-[2rem]  w-[13rem] h-[3rem]  ">
      <h4 class="ml-[1rem]"> Categories</h4>
    </span>
  </div>

  <!-- carousel -->

  <div id="carouselExampleIndicators" class="carousel slide relative mb-[8rem]" data-bs-ride="carousel">
    <div class="carousel-indicators absolute right-0 left-0 flex justify-center bottom-[-30%]">
      <hr
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active hr "
        aria-current="true"
        aria-label="Slide 1"
      >


      <hr
      class="hr"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide-to="1"
      aria-label="Slide 2"
      >
      <hr
        class="hr"
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      >
    </div>
    <div class="carousel-inner relative w-full h-[14.125rem] overflow-hidden">

      <div class="carousel-item active float-left w-full">

        <!-- carousel card 1-->
<div class="flex flex-row justify-between mx-[4rem]  ">
  <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-sm  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">

    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item1_jn10kv.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>


    <!-- 2 -->
    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
    data-mdb-ripple="true" data-mdb-ripple-color="light">


      <div class=" absolute flex flex-col items-center justify-center z-10 ">
        <figure class="mb-[1rem]">
          <img src="../../assets/item2_apmdya.png" class="w-[7.26rem] h-[7.5rem] ">
        </figure>
        <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
        <p><strong>$780.00</strong></p>
      </div>


    <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
    </div>
      </a>

      </div>

      <!-- 3 -->
      <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item3_qexxjf.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>
    <!-- 4 -->
    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item4_wxzzxi.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>
    <!-- 5 -->

    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
    data-mdb-ripple="true" data-mdb-ripple-color="light">


      <div class=" absolute flex flex-col items-center justify-center z-10 ">
        <figure class="mb-[1rem]">
          <img src="../../assets/item5_j1vebv.png" class="w-[7.26rem] h-[7.5rem] ">
        </figure>
        <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
        <p><strong>$780.00</strong></p>
      </div>


    <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
    </div>
      </a>

      </div>
      <!-- 6 -->
      <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item6_bdgzed.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>

  </div>

      </div>

      <div class="carousel-item float-left w-full">
      <!-- card2 -->
      <!-- carousel card 2 -->
<div class="flex flex-row justify-between mx-[4rem] ">
  <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-sm  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item7_r2hwv3.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>


    <!-- 2 -->
    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
    data-mdb-ripple="true" data-mdb-ripple-color="light">


      <div class=" absolute flex flex-col items-center justify-center z-10 ">
        <figure class="mb-[1rem]">
          <img src="../../assets/item8_nzloqy.png" class="w-[7.26rem] h-[7.5rem] ">
        </figure>
        <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
        <p><strong>$780.00</strong></p>
      </div>


    <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
    </div>
      </a>

      </div>

      <!-- 3 -->
      <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item9_omlgit.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>
    <!-- 4 -->
    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item1_jn10kv.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>
    <!-- 5 -->

    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
    data-mdb-ripple="true" data-mdb-ripple-color="light">


      <div class=" absolute flex flex-col items-center justify-center z-10 ">
        <figure class="mb-[1rem]">
          <img src="../../assets/item2_apmdya.png" class="w-[7.26rem] h-[7.5rem] ">
        </figure>
        <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
        <p><strong>$780.00</strong></p>
      </div>


    <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
    </div>
      </a>

      </div>
      <!-- 6 -->
      <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item3_qexxjf.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>

  </div>

  <!-- carousel card 3-->
<div class="flex flex-row justify-between mx-[4rem] ">
  <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-sm  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item4_wxzzxi.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>


    <!-- 2 -->
    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
    data-mdb-ripple="true" data-mdb-ripple-color="light">


      <div class=" absolute flex flex-col items-center justify-center z-10 ">
        <figure class="mb-[1rem]">
          <img src="../../assets/item5_j1vebv.png" class="w-[7.26rem] h-[7.5rem] ">
        </figure>
        <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
        <p><strong>$780.00</strong></p>
      </div>


    <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
    </div>
      </a>

      </div>

      <!-- 3 -->
      <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item6_bdgzed.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>
    <!-- 4 -->
    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item7_r2hwv3.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>
    <!-- 5 -->

    <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
    data-mdb-ripple="true" data-mdb-ripple-color="light">


      <div class=" absolute flex flex-col items-center justify-center z-10 ">
        <figure class="mb-[1rem]">
          <img src="../../assets/item8_nzloqy.png" class="w-[7.26rem] h-[7.5rem] ">
        </figure>
        <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
        <p><strong>$780.00</strong></p>
      </div>


    <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
      <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
    </div>
      </a>

      </div>
      <!-- 6 -->
      <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
  data-mdb-ripple="true" data-mdb-ripple-color="light">


    <div class=" absolute flex flex-col items-center justify-center z-10 ">
      <figure class="mb-[1rem]">
        <img src="../../assets/item9_omlgit.png" class="w-[7.26rem] h-[7.5rem] ">
      </figure>
      <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
      <p><strong>$780.00</strong></p>
    </div>


  <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
    <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
  </div>
    </a>

    </div>

  </div>
      </div>

      <div class="carousel-item float-left w-full">

        <!-- card 3 -->
        <div class="flex flex-row justify-between mx-[4rem]  ">
          <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-sm  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
          data-mdb-ripple="true" data-mdb-ripple-color="light">


            <div class=" absolute flex flex-col items-center justify-center z-10 ">
              <figure class="mb-[1rem]">
                <img src="../../assets/item1_jn10kv.png" class="w-[7.26rem] h-[7.5rem] ">
              </figure>
              <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
              <p><strong>$780.00</strong></p>
            </div>


          <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
            <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
          </div>
            </a>

            </div>


            <!-- 2 -->
            <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
            data-mdb-ripple="true" data-mdb-ripple-color="light">


              <div class=" absolute flex flex-col items-center justify-center z-10 ">
                <figure class="mb-[1rem]">
                  <img src="../../assets/item2_apmdya.png" class="w-[7.26rem] h-[7.5rem] ">
                </figure>
                <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
                <p><strong>$780.00</strong></p>
              </div>


            <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
              <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
            </div>
              </a>

              </div>

              <!-- 3 -->
              <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
          data-mdb-ripple="true" data-mdb-ripple-color="light">


            <div class=" absolute flex flex-col items-center justify-center z-10 ">
              <figure class="mb-[1rem]">
                <img src="../../assets/item3_qexxjf.png" class="w-[7.26rem] h-[7.5rem] ">
              </figure>
              <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
              <p><strong>$780.00</strong></p>
            </div>


          <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
            <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
          </div>
            </a>

            </div>
            <!-- 4 -->
            <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
          data-mdb-ripple="true" data-mdb-ripple-color="light">


            <div class=" absolute flex flex-col items-center justify-center z-10 ">
              <figure class="mb-[1rem]">
                <img src="../../assets/item4_wxzzxi.png" class="w-[7.26rem] h-[7.5rem] ">
              </figure>
              <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
              <p><strong>$780.00</strong></p>
            </div>


          <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
            <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
          </div>
            </a>

            </div>
            <!-- 5 -->

            <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
            data-mdb-ripple="true" data-mdb-ripple-color="light">


              <div class=" absolute flex flex-col items-center justify-center z-10 ">
                <figure class="mb-[1rem]">
                  <img src="../../assets/item5_j1vebv.png" class="w-[7.26rem] h-[7.5rem] ">
                </figure>
                <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
                <p><strong>$780.00</strong></p>
              </div>


            <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
              <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
            </div>
              </a>

              </div>
              <!-- 6 -->
              <div class=" relative flex flex-col items-center justify-center  content-center hover:drop-shadow-lg  w-[11.375rem] h-[15.125rem]  bg-white bg-cover font-Roboto  hover:cursor-pointer "
          data-mdb-ripple="true" data-mdb-ripple-color="light">


            <div class=" absolute flex flex-col items-center justify-center z-10 ">
              <figure class="mb-[1rem]">
                <img src="../../assets/item6_bdgzed.png" class="w-[7.26rem] h-[7.5rem] ">
              </figure>
              <p class="text[1rem] font-[400] leading-[1.5]">Vivamus Sit Smet</p>
              <p><strong>$780.00</strong></p>
            </div>


          <a href="#!" class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden self-center " >
            <div class="absolute top-0 right-0 bottom-0 left-0 w-auto h-auto overflow-hidden opacity-[.7] bg-fixed transition-all ease-in-out  duration-900  hover:bg-[#D1D1D1] ">
          </div>
            </a>

            </div>

          </div>
      </div>
    </div>



    <button
      class="carousel-control-prev absolute top-0 bottom-0 flex items-center  justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline left-[-6rem] right-0"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
    <span class=" text-[#161616] flex items-center justify-center  w-[5rem] h-[3rem] bg-indicatorprev drop-shadow-lg  ml-[2rem] bg-no-repeat hover:bg-greyhr " aria-hidden="true">
      <i class="bi bi-arrow-left-short text-5xl	 "></i>
    </span>
    </button>

    <button
      class="carousel-control-next absolute top-0 bottom-0 flex items-center justify-center p-0 text-center border-0 hover:outline-none hover:no-underline focus:outline-none focus:no-underline right-[-6rem] "
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
    <span class=" text-[#161616] flex items-center justify-center  w-[5rem] h-[3rem] bg-indicatorprev drop-shadow-lg  mr-[2rem]  hover:bg-greyhr " aria-hidden="true">
      <i class="bi bi-arrow-right-short text-5xl	 "></i>
    </span>
    </button>
  </div>

</div>
